.header {
	padding-top: 100px;

	&__inner {
		display: flex;
	}

	&__list {
		counter-reset: number 0;
		margin-bottom: 40px;
	}

	&__item {
		font-size: 16px;
		counter-increment: number;
		padding-left: 40px;
		position: relative;

		&::before {
			content: counter(number);
			font-size: 36px;
			color: $accent-color;
			position: absolute;
			top: -8px;
			left: 0;
		}

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&__table {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		border-top: 1px solid #D0D6DE;
		border-bottom: 1px solid #D0D6DE;
		padding: 15px 0;
	}

	&__price {
		padding-right: 13px;
	}

	&__table-text {
		max-width: 200px;
		padding-right: 55px;
		border-right: 1px solid #D0D6DE;
	}

	&__table-order {
		max-width: 320px;
		margin-left: 105px;
		margin-right: 123px;
		position: relative;

		&::before {
			content: '';
			background-image: url(../images/box.png);
			background-repeat: no-repeat;
			background-position: top center;
			position: absolute;
			top: 0;
			left: -90px;
			height: 100px;
			width: 100px;
		}

		&::after {
			content: '';
			background-image: url(../images/bat.png);
			background-repeat: no-repeat;
			background-position: top center;
			position: absolute;
			top: 0;
			right: -90px;
			height: 100px;
			width: 100px;
		}
	}

	&__new-price {
		font-size: 24px;
		color: $accent-color;
		@extend %gilroy-700;
		display: inline-block;
		width: 90px;
	}
}

.grn {
	@extend %gilroy-300;
	font-size: 15px;
	color: $default-color;

}

.header__old-price {
	position: relative;
	font-size: 18px;


	&:before {
		border-bottom: 3px solid $accent-color;
		position: absolute;
		content: "";
		width: 100%;
		height: 50%;
		transform: rotate(7deg);
	}
}

.number {
	font-size: 48px;
	color: $accent-color;
}

.count {
	border: 3px solid $accent-color;
	border-radius: 20px;
	display: inline-block;
	padding: 11px 14px 4px 9px;
}

.counter {
	display: flex;
	align-items: center;

	&__text {
		font-size: 15px;
		padding-left: 30px;
		@extend %gilroy-700;
		max-width: 263px;
	}
}

.bold {
	@extend %gilroy-700;
}

.title {
	color: $accent-color;
	@extend %gilroy-700;
	font-size: 60px;
}

.subtitle {
	@extend %gilroy-500;
	font-size: 47px;
	max-width: 630px;
	margin-bottom: 50px;
}


.btn {
	padding: 25px 30px;
	border: none;
	background-color: $accent-color;
	border-radius: 25px;
	color: #fff;
	@extend %gilroy-500;
	font-size: 15px;
	border: 3px solid transparent;
	transition: all 0.5s;
}

.popup__link {
	&:hover {
		border: none;
		border: 3px solid $accent-color;
		-webkit-box-shadow: 3px 3px 21px -3px #FF5086;
		box-shadow: 3px 3px 21px -3px #FF5086;
		transform: scale(1.2) scaleZ(2.4) rotateX(25deg) rotateY(0deg);
	}
}

.link-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.phone {
	font-size: 18px;
	color: $default-color;
	@extend %gilroy-300;
	transition: transform 0.5s;
	&:hover {
		transform: scale(1.5) scaleZ(1.5);
	}
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: $bg-color;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.popup__body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup__content {
	background-color: $accent-color;
	color: black;
	max-width: 680px;
	padding: 60px 100px;
	position: relative;
}

.popup__close {
	position: absolute;
	top: 10px;
	right: 10px;
}

.popup__title {
	@extend %gilroy-700;
	font-size: 50px;
	color: #fff;
	line-height: 1.2;
	margin: 0 0 30px 0;
}

.popup__form {
	background-color: #DF1F55;
	padding: 40px;
}

.popup__input {
	border: none;
	width: 100%;
	border-bottom: 1px solid #dadada;
	font-size: 15px;
	outline: transparent;
	background-color: #DF1F55;
}

.popup__input+.popup__input {
	margin-top: 25px;
}


.popup__input:focus {
	outline: none;
}

.popup__input::placeholder {
	font-size: 15px;
	color: #fff;
}

.popup__btn {
	background-color: #fff;
	color: $default-color;
	width: 300px;
	text-transform: uppercase;
	margin-top: 40px;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}